@model RelationshipMVC.Number

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Number</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver.DriverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.DriverName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LicenseNumberID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
